<!DOCTYPE html>
<html>
<head>
    <title>Passive Agressive Message Board</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" >
    <!-- <style>
</style> -->
</head>
<body>

    <h1> Welcome to "Our" Passive Agressive Message Board</h1>
    <hr>

    <div class="container">
    <div class='pen'>
        <h3> Say Somthing!!! </h3>
        <form action='/message' method='post'>
            <div class='s_inputs_bl'>Name: <input type="text" name="name" value=""></div>
            <div class='s_inputs_bl'>Message: <input type="text" name="message" value=""></div>
            <input type='submit' value='Submit'>
        </form>
    </div>

    <hr>


        <% for(let message of messages) {  %>
            <div class='pen'>


            <p>Name: <%= message.name %> </p>
            <p>Message: <%= message.message %> </p>

            <div class="comment">
            <% for(let comment of message._comments){ %>

                <p>Name: <%= comment.name %> </p>
                <p>Comment: <%= comment.comment %> </p>
            <% } %>

            <p> Got a Snarkey Comment????  </p>
            <form action="/comment/<%= message._id %>" method="post">
                Name: <input type="text" name="name"><br>
                Comment: <input type="text" name="comment"><br>
            <input type="submit" value="Say it!!"><br>
            </form>


            </div>

        </div>

        <% } %>


</div>



</body>
</html>
